<div class="form-container">
    <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">

        <div class="field">
            <label class="label" style="font-size: 18px;">Title</label>
            <div class="control">
                <input type="text" name="title" required [ngModel]="note.title" class="input">
            </div>
        </div>
        <br>
        <div class="field">
            <label class="label" style="font-size: 18px;">Body</label>
            <div class="control">
                <textarea name="body" [ngModel]="note.body" class="textarea"></textarea>
            </div>
        </div>

        <div class="field is-grouped is-pulled-right">
            <div class="control">
                <button class="button is-text" type="button" (click)="cancel()">Cancel</button>
            </div>
            <div class="control">
                <button class="button is-success" type="submit" [disabled]="!noteForm.valid"><b>Save</b></button>
            </div>
        </div>

    </form>
</div>